md-sidenav > md-toolbar {
    background-color: #111829 !important;
    color: white !important;
}

md-sidenav {
    background-color: #151B3C;
}

md-sidenav > md-content {
    background-color: #151B3C;
}

