md-toolbar {
    position: fixed !important;
}

md-progress-linear {
    display: block;
    margin-top: 64px;
    position: absolute !important;
    z-index: 9999;
    left: 0px;
}


@media (max-width: 959px) and (min-width: 0) and (orientation: landscape) {
    md-progress-linear {
        margin-top: 44px;
    }
}

@media (max-width: 959px) and (min-width: 0) and (orientation: portrait) {
    md-progress-linear {
        margin-top: 52px;
    }
}