<md-content layout-xs="column" layout="row" layout-padding layout-align='center center'>

    <md-whiteframe class="md-whiteframe-2dp" flex-xs flex-gt-xs="40" layout-padding>

        <div layout-align="center" layout="row">
            <h2 class="md-display-2">Welcome back!</h2>
        </div>
        <md-divider></md-divider>
        <form name="$ctrl.formLogin" ng-submit="$ctrl.login()">
            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <md-icon class="name">person</md-icon>
                <input class='big' md-autofocus="true" autofocus ng-model="$ctrl.user.username" type="text" placeholder="Username" required>
            </md-input-container>
            <md-input-container class="md-block">
                <md-icon>lock</md-icon>
                <input class='big' ng-model="$ctrl.user.password" type="password" placeholder="Password" required>
            </md-input-container>

            <md-content layout='column' layout-align='center center'>
                <md-button type="submit" class="md-primary md-raised" ng-disabled="$ctrl.formLogin.$invalid">Log In</md-button>


                <div layout-align="center center" layout="row" layout-padding>
                    <p class='center' layout-align="center center" layout="row">
                        Oh! It is your first time here. Don't worry, You can create an account&nbsp; <span><a  ui-sref="signup">here</a>!</span>
                    </p>
                </div>

            </md-content>
        </form>
    </md-whiteframe>


</md-content>